Fase 2/Evidencias Proyecto/Modulo_Django/archivos/reportes/reporte_carga_1001.pdf
Fase 2/Evidencias Proyecto/Modulo_Django/procesamiento/__pycache__/api.cpython-314.pyc
Fase 2/Evidencias Proyecto/Modulo_Django/procesamiento/__pycache__/GeneradorReportesService.cpython-314.pyc
