# ============================================================
# AnexoControl - Modulo Django
# Variables de entorno para Docker Compose
# ============================================================

SPRING_CALLBACK_URL=http://spring-app:8081/procesamiento/callback

ARCHIVOS_BASE_DIR=/app/data/archivos

ORACLE_HOST=oracle-db
ORACLE_PORT=1521
ORACLE_SERVICE=XEPDB1
ORACLE_USER=TARIFICACION
ORACLE_PASSWORD=Tarificacion123

ALLOWED_HOSTS=django-app,localhost,127.0.0.1
